<ul class="ko-timeline__list">
  {{#each matchGroups as |matchGroup|}}
    <li class="ko-timeline-match-group">
      <article>
        <div class="ko-timeline-match-group__team-names">
          <div class="ko-timeline-match-group__team-name">
            {{matchGroup.teamOne.name}}
          </div>
          
          <div class="ko-timeline-match-group__team-scores">
             {{matchGroup.teamOneScore}} - {{matchGroup.teamTwoScore}}
          </div>
  
          <div class="ko-timeline-match-group__team-name">
            {{matchGroup.teamTwo.name}}
          </div>
         </div>
      </article>
    </li>
  {{/each}}
</ul>

{{yield}}