<header class="ko-application__header">
  <div class="ko-application__header-content">
    <h1 class="ko-application__title">
      {{#link-to "tournaments" class="ko-application__title-link"}}
        <span class="ko-application__title-link-primary">Knock</span>out
      {{/link-to}}
    </h1>

    <nav class="ko-application__nav">
      <ul>
        <li class="ko-application__nav-item">
          {{#link-to "tournaments" class="ko-application__nav-link ko-link"}}
            Tournaments
          {{/link-to}}
        </li>

        <li class="ko-application__nav-item">
          <a class="ko-application__nav-link ko-link">Following</a>
        </li>
      </ul>
    </nav>

    <div class="ko-application__session">
      {{#if currentUser}}
        <div class="ko-application__current-user-name">{{currentUserName}}</div>
        <a class="ko-link" onclick={{action "logout"}}>Logout</a>
      {{else}}
        <a class="ko-link" onclick={{action "login"}}>Login</a>
      {{/if}}
    </div>
  </div>
</header>

<main class="ko-application__content">
  {{yield}}

  {{#if isPlaying}}
    {{ko-player player=player class="ko-application__player"}}
  {{/if}}
</main>
