<header class="ko-application__header">
  <div class="ko-application__header-content">
    <h1>{{#link-to "index"}}{{ko-logo}}{{/link-to}}</h1>

    {{#unless isLoading}}
      <nav class="ko-application__nav">
        <ul class="grid grid--middle grid--auto">
          <li class="grid__cell">
            {{#link-to "tournaments" class="ko-application__nav-link ko-link"}}
              Tournaments
            {{/link-to}}
          </li>

          {{#if hasCurrentUser}}
            <li class="grid__cell">
              {{#link-to "following" class="ko-application__nav-link ko-link"}}
                Following
              {{/link-to}}

              {{#if hasNewMatches}}
                <div class="ko-badge ko-badge--primary">{{newMatchesCount}} New</div>
              {{/if}}
            </li>
          {{/if}}
        </ul>
      </nav>
    {{/unless}}

    {{#unless isLoading}}
      <div class="ko-application__session">
        {{#if hasCurrentUser}}
          <div class="ko-application__current-user-name">{{currentUserName}}</div>
          <a class="ko-link" onclick={{action "logout"}}>Logout</a>
        {{else}}
          <a class="ko-link" onclick={{action "login"}}>Login / Signup</a>
        {{/if}}
      </div>
    {{/unless}}
  </div>
</header>

<main class="ko-application__content">
  {{yield}}
</main>

{{#unless isPlaying}}
  {{ko-intercom}}
{{/unless}}
