<header class="ko-application__header">
  <div class="ko-application__header-content">
    <h1 class="ko-application__title">
      {{#link-to "tournaments" class="ko-application__title-link"}}
        <span class="ko-application__title-link-primary">Knock</span>out
      {{/link-to}}
    </h1>

    {{#unless isLoading}}
      <nav class="ko-application__nav">
        <ul>
          <li class="ko-application__nav-item">
            {{#link-to "tournaments" class="ko-application__nav-link ko-link"}}
              Tournaments
            {{/link-to}}
          </li>

          {{#if hasCurrentUser}}
            <li class="ko-application__nav-item">
              {{#link-to "following" class="ko-application__nav-link ko-link"}}
                Following
              {{/link-to}}
            </li>
          {{/if}}
        </ul>
      </nav>
    {{/unless}}

    {{#unless isLoading}}
      <div class="ko-application__session">
        {{#if hasCurrentUser}}
          <div class="ko-application__current-user-name">{{currentUserName}}</div>
          <a class="ko-link" onclick={{action "logout"}}>Logout</a>
        {{else}}
          <a class="ko-link" onclick={{action "login"}}>Login</a>
        {{/if}}
      </div>
    {{/unless}}
  </div>
</header>

<main class="ko-application__content">
  {{yield}}

  {{#if isPlaying}}
    {{ko-player player=player class="ko-application__player"}}
  {{/if}}
</main>
