{{#ko-overlay onClose=onClose class="ko-matches-player__overlay"}}
  <header>
    <a class="ko-matches-player__previous" onclick={{action (action "previous")}}></a>

    <h1 class="ko-matches-player__title">
      {{match.teamOne.name}} vs {{match.teamTwo.name}}
    </h1>

    <a class="ko-matches-player__next" onclick={{action (action "next")}}></a>
  </header>

  {{component vodComponent vod=vod class="ko-matches-player__vod"}}
{{/ko-overlay}}
