<div class="ko-tournament-match-group__stage">{{stage}}</div>

<div class="ko-tournament-match-group__teams">
  <img class="ko-tournament-match-group__team-logo" src={{teamOneLogo}} />
  <div class="ko-tournament-match-group__score">{{teamOneScore}} - {{teamTwoScore}}</div>
  <img class="ko-tournament-match-group__team-logo" src={{teamTwoLogo}} />
</div>

<div class="ko-tournament-match-group__info">
  <div class="ko-tournament-match-group__format">Best of {{bestOf}}</div>
</div>
