<div class="ko-player__header {{if shouldShowHeader "ko-player__header--shown"}}">
  <div class="ko-player__toggle-header">
    <a class="ko-player__toggle-header-button ko-button" onclick={{action "toggleHeader"}}>
      <i class="ko-player__toggle-header-icon"></i>
    </a>
  </div>

  {{#liquid-if shouldShowHeader}}
    <header class="ko-player__header-content">
      <div class="ko-player__actions">
        {{#ko-toggle
          class="ko-player__watch ko-toggle-button ko-button"
          isActive=isWatched
          onToggle=(action "toggleWatch")}}
          <i class="ko-player__watch-icon ko-toggle-button__icon"></i>Watched
        {{/ko-toggle}}

        {{#ko-toggle
          class="ko-player__like ko-toggle-button ko-button"
          isActive=isLiked
          onToggle=(action "toggleLike")}}
          <i class="ko-player__like-icon ko-toggle-button__icon"></i>Like
        {{/ko-toggle}}
      </div>

      <div class="ko-player__info">
        <h1 class="ko-title">{{teamOneFullName}} vs {{teamTwoFullName}}</h1>

        <h2 class="ko-title ko-player__details">
          Game {{matchNumber}}, {{matchGroupStage}}, {{tournamentName}}
        </h2>
      </div>
    </header>
  {{/liquid-if}}
</div>

<div class="ko-player__close">
  {{#link-to (query-params matchId=null) class="ko-button"}}Close{{/link-to}}
</div>

<iframe class="ko-player__vod" src={{vodUrl}} width="100%" height="100%" frameborder="0" scrolling="no" allowfullscreen></iframe>
