<div class="ko-player__header">
  {{#liquid-if shouldShowHeader}}
    <header class="ko-player__header-content">
      <div class="grid grid--middle">
        <div class="grid__cell grid__cell--3/12">
          {{#ko-toggle
            type="button"
            iconType="eye"
            isActive=isWatched
            onToggle=(action "toggleWatch")}}Watched{{/ko-toggle}}

          {{#ko-toggle
            type="button"
            iconType="thumbs-up"
            isActive=isLiked
            onToggle=(action "toggleLike")}}Like{{/ko-toggle}}
        </div>

        <div class="grid__cell grid__cell--6/12">
          <div class="ko-player__title">
            <h1 class="ko-title">{{teamOneFullName}} vs {{teamTwoFullName}}</h1>

            <h2 class="ko-title ko-title--secondary">
              Game {{matchNumber}}, {{matchGroupStage}}, {{tournamentName}}
            </h2>
          </div>
        </div>

        <div class="grid__cell grid__cell--3/12">
          <div class="ko-player__close">
            {{#link-to (query-params matchId=null) class="ko-link"}}
              {{#ko-button}}Close{{/ko-button}}
            {{/link-to}}
          </div>
        </div>
      </div>
    </header>
  {{/liquid-if}}

  <div class="ko-player__toggle-header">
    {{#ko-button
      click=(action "toggleHeader")
      class="ko-player__toggle-header-button"}}
      {{fa-icon toggleHeaderIconType}}
    {{/ko-button}}
  </div>
</div>

<iframe
  class="ko-player__vod"
  src={{vodUrl}}
  width="100%"
  height="100%"
  frameborder="0"
  scrolling="no"
  allowfullscreen></iframe>
