<article class="ko-tournament-collection-list-item__content">
  <header class="ko-tournament-collection-list-item__header">
    {{#ko-spoiler title="Show Teams" class="ko-tournament-collection-list-item__teams"}}
      <img class="ko-tournament-collection-list-item__team-logo" src={{teamOneLogo}} />

      {{#ko-spoiler title="Show Score" class="ko-tournament-collection-list-item__score"}}
        {{teamOneScore}} - {{teamTwoScore}}
      {{/ko-spoiler}}

      <img class="ko-tournament-collection-list-item__team-logo" src={{teamTwoLogo}} />
    {{/ko-spoiler}}

    <div class="ko-tournament-collection-list-item__stage">{{stage}}</div>
    <div class="ko-tournament-collection-list-item__format">Best of {{bestOf}}</div>
  </header>

  <ul class="ko-tournament-collection-list-item__match-list">
    {{#each matches as |match|}}
      {{ko-tournament/match-list-item match=match}}
    {{/each}}
  </ul>
</article>
