<article class="ko-tournament-collection-list-item__content">
  <header class="ko-tournament-collection-list-item__header">
    {{#ko-spoiler title="Show Teams" class="ko-tournament-collection-list-item__teams"}}
      {{#tool-tipster class="ko-tournament-collection-list-item__team-logo" title=teamOneFullName}}
        <img src={{teamOneLogo}} />
      {{/tool-tipster}}

      {{#ko-spoiler title="Show Score" class="ko-tournament-collection-list-item__score"}}
        {{teamOneScore}} - {{teamTwoScore}}
      {{/ko-spoiler}}

      {{#tool-tipster class="ko-tournament-collection-list-item__team-logo" title=teamTwoFullName}}
        <img src={{teamTwoLogo}} />
      {{/tool-tipster}}
    {{/ko-spoiler}}

    <div class="ko-tournament-collection-list-item__stage">{{stage}}</div>
    <div class="ko-tournament-collection-list-item__format">Best of {{bestOf}}</div>
  </header>

  <ul class="ko-tournament-collection-list-item__match-list">
    {{#each matches as |match|}}
      {{ko-tournament/match-list-item match=match onWatch=onWatch}}
    {{/each}}
  </ul>
</article>
