<article class="ko-tournament-collection-list-item__content">
  <header class="ko-tournament-collection-list-item__header">
    {{#ko-spoiler title="Show Teams" class="ko-tournament-collection-list-item__teams"}}
      <img class="ko-tournament-collection-list-item__team-logo" src={{teamOneLogo}} />

        {{#ko-spoiler title="Show Score" class="ko-tournament-collection-list-item__score"}}
          {{teamOneScore}} - {{teamTwoScore}}
        {{/ko-spoiler}}

      <img class="ko-tournament-collection-list-item__team-logo" src={{teamTwoLogo}} />
    {{/ko-spoiler}}

    <div class="ko-tournament-collection-list-item__stage">{{stage}}</div>
    <div class="ko-tournament-collection-list-item__format">Best of {{bestOf}}</div>
  </header>

  <ul class="ko-tournament-collection-list-item__match-list">
    {{#each matches as |match|}}
      <li class="ko-tournament-collection-list-item__match-list-item">
        {{#link-to "tournaments" class="ko-tournament-collection-list-item__match-list-item-link"}}
          <article class="ko-tournament-collection-list-item__match-list-item-content">
            <div class="ko-tournament-collection-list-item__match-list-item-info">
              <div class="ko-tournament-collection-list-item__match-list-item-info-content">
                Game {{match.matchNumber}}
              </div>
            </div>

            <div class="ko-tournament-collection-list-item__match-list-item-info">
              {{#ko-spoiler title="Show Winner"}}
                <div class="ko-tournament-collection-list-item__match-list-item-info-content">
                  {{match.winner.fullName}} Wins
                </div>
              {{/ko-spoiler}}
            </div>

            <div class="ko-tournament-collection-list-item__match-list-item-info">
              <div class="ko-tournament-collection-list-item__match-list-item-info-content">
                {{#ko-badge isPrimary=true}}
                  {{#if match.isWatched}}
                    Watched
                  {{else}}
                    To Watch
                  {{/if}}
                {{/ko-badge}}

                {{#ko-badge}}{{match.likes}} Likes{{/ko-badge}}
              </div>
            </div>
          </article>
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
</article>
