<h1 class="ko-tournament__title">{{tournamentName}}</h1>

<ul class="ko-tournament__timeline">
  {{#each matchGroups as |matchGroup|}}
    <li class="ko-tournament__timeline-item">
      <a class="ko-tournament__timeline-item-link">
        <article class="ko-tournament__timeline-item-content">
          <div class="ko-tournament__timeline-item-info">
            <div class="ko-tournament__timeline-item-stage">
              {{matchGroup.tournament.stage}}
            </div>
          </div>

          <div class="ko-tournament__timeline-item-teams">
            <img class="ko-tournament__timeline-item-team-logo"
                 src={{matchGroup.teamOne.logo.w72xh72}} />

            <div class="ko-tournament__timeline-item-scores">
               {{matchGroup.teamOneScore}} - {{matchGroup.teamTwoScore}}
            </div>

            <img class="ko-tournament__timeline-item-team-logo"
                 src={{matchGroup.teamTwo.logo.w72xh72}} />
          </div>

          <div class="ko-tournament__timeline-item-watch">
            <div class="ko-tournament__timeline-item-watched">
              Not Watched
            </div>

            <div class="ko-tournament__timeline-item-likes">
              24 <i class="ko-tournament__timeline-item-likes-icon"></i>
            </div>
          </div>
        </article>
      </a>
    </li>
  {{/each}}
</ul>

{{#if isWatching}}
  {{#ko-modal onClose=(action "stopWatching")}}
    {{ko-matches-player matchGroups=matchGroupsToPlay}}
  {{/ko-modal}}
{{/if}}
