<div class="ko-main-container">
  {{#ko-header title=name titleComponent=(component "ko-tournament/title" tournament=tournament)}}
    {{#ko-header/nav-item}}
      {{#link-to "tournament" id (query-params viewType="timeline")}}Timeline{{/link-to}}
    {{/ko-header/nav-item}}

    {{#ko-header/nav-item}}
      {{#link-to "tournament" id (query-params viewType="popular")}}Popular{{/link-to}}
    {{/ko-header/nav-item}}

    {{#if shouldShowNewNavItem}}
      {{#ko-header/nav-item}}
        {{#link-to "tournament" id (query-params viewType="new")}}New{{/link-to}}
      {{/ko-header/nav-item}}
    {{/if}}
  {{/ko-header}}

  {{#if isShowingTimeline}}
    {{#each timeline as |day|}}
      <section>
        <h1 class="ko-tournament__section-title">{{day.title}}</h1>

        <ul>
          {{#each day.matchGroups as |matchGroup|}}
            {{ko-tournament/match-group-list-item matchGroup=matchGroup}}
          {{/each}}
        </ul>
      </section>
    {{/each}}
  {{else}}
    <section>
      <header>
        {{#if isShowingPopular}}
          <h1 class="ko-tournament__section-title">Popular Matches</h1>
        {{else if isShowingNew}}
          <div class="ko-tournament__section-title">
            <div class="grid grid--middle grid--flush">
              <h1 class="grid__cell grid__cell--8/12">New Matches</h1>

              <div class="grid__cell grid__cell--4/12">
                <div class="ko-tournament__mark-all-as-watched">
                  {{#ko-button
                    isDisabled=hasNoNewMatches
                    click=(action "markAllAsWatched")}}
                    Mark all as watched
                  {{/ko-button}}
                </div>
              </div>
            </div>
          </div>
        {{/if}}
      </header>

      {{#if arrangedMatches}}
        <ul class="ko-tournament__match-list-content">
          {{#each arrangedMatches as |match|}}
            {{ko-tournament/match-list-item
              shouldShowGroupInfo=true
              match=match}}
          {{/each}}
        </ul>
      {{else}}
        {{#if isShowingNew}}
          {{#ko-empty-list message="You're up to date with this tournament!" iconType="rocket"}}
            {{#ko-button}}
              {{#link-to (query-params viewType="timeline")}}Browse Timeline{{/link-to}}
            {{/ko-button}}
          {{/ko-empty-list}}
        {{/if}}
      {{/if}}
    </section>
  {{/if}}
</div>
