<h1 class="ko-tournament__title">{{tournamentName}}</h1>

<div class="ko-tournament__actions">
  <button
    onclick={{action "watch"}}
    disabled={{isWatchDisabled}} class="ko-tournament__actions-watch">
    Watch
  </button>

  {{ko-filter-list tournament=tournament}}
</div>

{{ko-timeline tournament=tournament}}

{{#if isWatching}}
  {{#ko-modal onClose=(action "stopWatching")}}
    {{ko-matches-player matchGroups=matchGroupsToPlay}}
  {{/ko-modal}}
{{/if}}
