{{#ko-header title=name}}
  <li class="ko-tournament__sort">
    {{#power-select
      class="ko-tournament__sort-select"
      searchEnabled=false
      options=sortingOptions
      selected=sortingOption
      onchange=(action "selectSortingOption") as |option|}}
      Sort by: {{option.label}}
    {{/power-select}}
  </li>

  {{#ko-header/nav-item}}
    {{#link-to "tournament" id (query-params filter=null)}}All Matches{{/link-to}}
  {{/ko-header/nav-item}}

  {{#ko-header/nav-item}}
    {{#link-to "tournament" id (query-params filter="unwatched")}}To Watch{{/link-to}}
  {{/ko-header/nav-item}}

  {{#ko-header/nav-item}}
    {{#link-to "tournament" id (query-params filter="saved")}}Saved{{/link-to}}
  {{/ko-header/nav-item}}
{{/ko-header}}

<ul class="ko-tournament__timeline">
  {{#each timeline as |timelineItem|}}
    {{moment-from-now timelineItem.day}}

    <li class="ko-tournament__timeline-item">
      <a class="ko-tournament__timeline-item-link">
        <article class="ko-tournament__timeline-item-content">
          <div class="ko-tournament__timeline-item-stage">
            {{matchGroup.tournament.stage}}
          </div>

          <div class="ko-tournament__timeline-item-teams">
            <img class="ko-tournament__timeline-item-team-logo"
                 src={{matchGroup.teamOne.logo.w72xh72}} />

            <div class="ko-tournament__timeline-item-scores">
               {{matchGroup.teamOneScore}} - {{matchGroup.teamTwoScore}}
            </div>

            <img class="ko-tournament__timeline-item-team-logo"
                 src={{matchGroup.teamTwo.logo.w72xh72}} />
          </div>

          <div class="ko-tournament__timeline-item-info">
            <div class="ko-tournament__timeline-item-watched">
              To Watch
            </div>
          </div>
        </article>
      </a>
    </li>
  {{/each}}
</ul>
