{{#ko-header title=name}}
  {{#ko-header/nav-item}}
    {{#link-to "tournament" id (query-params viewType="timeline")}}Timeline{{/link-to}}
  {{/ko-header/nav-item}}

  {{#ko-header/nav-item}}
    {{#link-to "tournament" id (query-params viewType="popular")}}Popular{{/link-to}}
  {{/ko-header/nav-item}}

  {{#ko-header/nav-item}}
    {{#link-to "tournament" id (query-params viewType="unwatched")}}To Watch{{/link-to}}
  {{/ko-header/nav-item}}
{{/ko-header}}

{{#if isShowingTimeline}}
  {{#each timeline as |day|}}
    <section class="ko-tournament__day">
      <h1 class="ko-tournament__section-title ko-title">{{day.title}}</h1>

      <ul class="ko-tournament__match-group-list">
        {{#each day.matchGroups as |matchGroup|}}
          {{ko-tournament/match-group-list-item matchGroup=matchGroup onWatch=(action "watch")}}
        {{/each}}
      </ul>
    </section>
  {{/each}}
{{else}}
  <section class="ko-tournament__match-list">
    <h1 class="ko-tournament__section-title ko-title">
      {{#if isShowingPopular}}
        Popular
      {{else}}
        To Watch
      {{/if}}
    </h1>

    <ul class="ko-tournament__match-list-content">
      {{#each arrangedMatches as |match|}}
        {{ko-tournament/match-list-item
          showGroupInfo=true
          match=match
          onWatch=(action "watch")}}
      {{/each}}
    </ul>
  </section>
{{/if}}
