<div class="ko-tournament-match-list-item__link" onclick={{action onWatch match}}>
  <article class="ko-tournament-match-list-item__content">
    <div class="ko-tournament-match-list-item__info">
      <div class="ko-tournament-match-list-item__info-content">
        Game {{matchNumber}}
      </div>
    </div>

    <div class="ko-tournament-match-list-item__info">
      {{#ko-spoiler title="Show Winner"}}
        <div class="ko-tournament-match-list-item__info-content">
          {{winnerFullName}} Wins
        </div>
      {{/ko-spoiler}}
    </div>

    <div class="ko-tournament-match-list-item__info">
      <div class="ko-tournament-match-list-item__info-content">
        {{#ko-badge isPrimary=true class="ko-tournament-match-list-item__badge"}}
          {{#if isWatched}}
            Watched
          {{else}}
            To Watch
          {{/if}}
        {{/ko-badge}}

        {{#ko-badge class="ko-tournament-match-list-item__badge"}}
          {{likes}} Likes
        {{/ko-badge}}
      </div>
    </div>
  </article>
</div>
