<a class="ko-tournament-match-list-item__link" onclick={{action "transitionToMatch"}}>
  <article>
    <div class="grid grid--middle">
      {{#if shouldShowGroupInfo}}
        <div class="grid__cell grid__cell--3/12">
          <div class="ko-box">
            {{#ko-spoiler
              name="teams"
              spoilerable=matchGroup
              title="Show Teams"}}
              <div class="grid grid--auto grid--middle">
                <div class="grid__cell">
                  {{#tool-tipster title=teamOneFullName}}
                    <img src={{teamOneLogoUrl}} class="ko-tournament-match-list-item__team-logo" />
                  {{/tool-tipster}}
                </div>

                <div class="grid__cell">vs</div>

                <div class="grid__cell">
                  {{#tool-tipster title=teamTwoFullName}}
                    <img src={{teamTwoLogoUrl}} class="ko-tournament-match-list-item__team-logo" />
                  {{/tool-tipster}}
                </div>
              </div>
            {{/ko-spoiler}}
          </div>
        </div>
      {{/if}}

      <div class="grid__cell {{if shouldShowGroupInfo "grid__cell--3/12" "grid__cell--4/12"}}">
        <div class="ko-box">
          Game {{number}}{{#if shouldShowGroupInfo}}, {{stage}}{{/if}}
        </div>
      </div>

      <div class="grid__cell {{if shouldShowGroupInfo "grid__cell--3/12" "grid__cell--4/12"}}">
        {{#if isNull}}
          {{#ko-spoiler
            name="null-matches"
            spoilerable=matchGroup
            title="Show Winner"
            class="ko-tournament-match-list-item__info-content"}}
            <div class="ko-box">Not Played</div>
          {{/ko-spoiler}}
        {{else}}
          {{#ko-spoiler
            name="winner"
            spoilerable=match
            title="Show Winner"
            class="ko-tournament-match-list-item__info-content"}}
            <div class="ko-box">{{winnerFullName}} Wins</div>
          {{/ko-spoiler}}
        {{/if}}
      </div>

      <div class="grid__cell {{if shouldShowGroupInfo "grid__cell--3/12" "grid__cell--4/12"}}">
        <div class="ko-box">
          <div class="grid grid--auto">
            {{#if isNew}}
              <div class="grid__cell">
                <div class="ko-badge ko-badge--primary">New</div>
              </div>
            {{/if}}

            {{#if shouldShowGroupInfo}}
              <div class="grid__cell">
                <div class="ko-badge ko-badge--primary">BO{{bestOf}}</div>
              </div>
            {{/if}}

            <div class="grid__cell">
              <div class="ko-badge ko-badge--primary">{{likesCount}} likes</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</a>
