{{#link-to "tournament" id class="ko-tournament-list-item__link ko-link"}}
  <article class="ko-tournament-list-item__content">
    <h1 class="ko-tournament-list-item__name ko-title">{{name}}</h1>

    <div class="ko-tournament-list-item__stage">
      {{stage}}
    </div>

    <div class="ko-tournament-list-item__info">
      {{#ko-badge isPrimary=true}}{{gameName}}{{/ko-badge}}
      {{#ko-badge}}{{unwatchedMatchesCount}} to watch{{/ko-badge}}
    </div>

    {{#if hasCurrentUser}}
      <button class="ko-tournament-list-item__follow
                    {{if toggleFollowIsRunning "ko-tournament-list-item__follow--running"}}"
              onclick={{action "toggleFollow"}}>
        <i class="ko-tournament-list-item__follow-icon"></i>
      </button>
    {{/if}}
  </article>
{{/link-to}}
